html {
	background-image: linear-gradient(to bottom, #ccdadb, #b5c6c7);
	min-height: 100vh;
}
body {
	margin: 0;
}
#chess-wrap {
	margin: 30px;
	width: 400px;
}
#chess-board {
	display: grid;
	gap: 0;
	grid-template-columns: repeat(8, 50px);
	grid-template-rows: repeat(8, 50px);
	width: 100%;
	margin: 0;
}
.tile {
	display: block;
	position: relative;
	background-color: #608c53;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.white {
	background-color: #f7f3d2;
}
.tile img {
	width: 100%;
	height: auto;
	margin: 0;
}
.chess-dot {
	z-index: 2;
	opacity: 0.5;
	background-color: #4d4d4d;
	width: 40%;
	height: 40%;
	border: none;
	border-radius: 50%;
	position: absolute;
	margin: 0;
	top: 30%;
	left: 30%;
	cursor: pointer;
}
.red {
	background-color: #d92d0b;
}
.chess-dot::after {
	content: "";
	position: absolute;
	left: -75%;
	top: -75%;
	width: 250%;
	height: 250%;
}
.highlight {
	background-color: #aac234;
}
.white.highlight {
	background-color: #ded162;
}
.check {
	background-color: #d63a3a;
}
.white.check {
	background-color: #e34949;
}
.chess-label {
	width: 100%;
	padding: 0;
	margin: 0;
	text-align: center;
	font-family: "Comfortaa", sans-serif;
	font-size: 24px;
	height: 36px;
	line-height: 38px;
	font-weight: lighter;
	position: absolute;
	top: 0;
	left: 0;
}
#white-label {
	color: black;
	background-color: white;
}
#black-label {
	color: white;
	background-color: black;
}
#label-wrap {
	position: relative;
	height: 34px;
	width: 100%;
	margin-bottom: 10px;
}
#controls-wrap {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
	height: 50px;
	justify-content: center;
	margin-top: 15px;
}
#controls-wrap button {
	height: 100%;
	font-size: 30px;
	width: 50px;
	cursor: pointer;
	outline: none;
	border: none;
	margin: 0 5px;
	padding: 0;
	background-color: #2e2e2e;
	color: #ebebeb;
	border-radius: 5px;
	transition: 0.1s;
}
#controls-wrap button:hover {
	transform: scale(1.1);
}
#controls-wrap button:active {
	transform: scale(0.95);
}
.disabled {
	transform: none !important;
	background-color: #808080 !important;
	color: #cccccc !important;
}
#board-wrap {
	position: relative;
}
#winner-wrap {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	margin: 0;
	background-color: rgba(59, 59, 57, 0.7);
	z-index: 10;
}
.winner-label {
	width: 80%;
	margin: 10px auto;
	text-align: center;
	font-family: "Comfortaa", sans-serif;
	font-size: 32px;
	height: 48px;
	line-height: 50px;
	box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
}
#white-winner-label {
	color: black;
	background-color: white;
}
#black-winner-label {
	color: white;
	background-color: black;
}
#checkmate-label {
	color: #ebebeb;
	text-shadow: 2px 2px 4px black;
	width: fit-content;
	margin: 100px auto 0 auto;
	text-align: center;
	font-family: "Comfortaa", sans-serif;
	font-size: 26px;
	font-weight: lighter;
	font-style: italic;
}
#resignation-label {
	color: #ebebeb;
	text-shadow: 2px 2px 4px black;
	width: fit-content;
	margin: 100px auto 0 auto;
	text-align: center;
	font-family: "Comfortaa", sans-serif;
	font-size: 26px;
	font-weight: lighter;
	font-style: italic;
}
#new-game-button {
	display: block;
	width: 50%;
	height: 40px;
	margin: 60px auto;
	border-radius: 10px;
	text-align: center;
	font-family: "Comfortaa", sans-serif;
	font-size: 24px;
	line-height: 36px;
	cursor: pointer;
	font-weight: lighter;
	background-color: #608c53;
	color: #ebebeb;
	border: none;
	text-shadow: 2px 2px 4px black;
	box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
	transition: 0.1s;
}
#new-game-button:hover {
	transform: scale(1.05);
}
#new-game-button:active {
	transform: scale(0.97);
}
#eye-button {
	position: absolute;
	cursor: pointer;
	bottom: 10px;
	right: 15px;
	background: none;
	border: none;
	color: #ebebeb;
	font-size: 36px;
	padding: 0;
	text-shadow: 2px 2px 4px black;
}
#icons-wrap {
	width: calc(100% - 30px);
	height: 36px;
	background-color: #2e2e2e;
	margin-bottom: 10px;
	display: block;
	padding: 0 15px;
}
.icon {
	display: inline;
	height: 100%;
	margin: 0;
	font-family: "Comfortaa", sans-serif;
	color: #ebebeb;
	float: left;
	font-weight: lighter;
	font-size: 18px;
	line-height: 36px;
}
#lock-icon {
	font-size: 20px;
}
#date-icon {
	color: #d1d1d1;
	text-align: left;
	margin-left: 10px;
}
#number-icon {
	float: right;
	text-align: right;
}
#people-icon-wrap {
	float: right;
}
#flag-icon {
	font-size: 16px;
	height: 26px;
	line-height: 26px;
}
#flag-button {
	background-color: #608c53;
	border: none;
	cursor: pointer;
	text-shadow: 2px 2px 4px black;
	box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
	transition: 0.1s;
	border-radius: 5px;
	padding: 0 8px;
	margin-top: 5px;
}
#flag-button:hover {
	transform: scale(1.05);
}
#flag-button:active {
	transform: scale(0.97);
}
